/*
Author: Michal Janů
Description: Variables for colors in the application
*/

$warning-btn-clr: #ff6464;
$default-btn-clr: #232229;
$default-btn-nop-clr: #8c7da1;
$default-btn-nop-clr-hover: #7d6f91;
$submit-btn: #c6e900;
$submit-btn-hover: #d9ff00;
$submit-btn-active: #a7c500;

$primary-bg: #50475c;
$secondary-bg: #383542;
$secondary-bg-hover: #332f3b;

$ternary-bg: #2f2d38; 
$ternary-bt-hover: #292730;

$primary-card: #cadbe6;